.banner {
    text-align: center;
    width: 500px;
    height: 40px;
    border: 1px solid black;
    box-shadow: 5px 10px lightgray;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(144, 187, 230);
}

h4 {
    padding-bottom: 20px;
}

#white {
    margin-bottom: 20px;
    margin-left: 43%;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    background-color: white;
}

#container {
    display: block;
    border: 10px solid black;
    padding: 10px;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}
#row-box {
    height: 100px;
    width: 80px;
    margin-bottom: 40px;
}
#square {
    margin-bottom: 20px;
    margin-left: 43%;
  
    width: 60px;
    height: 60px;
    border: 3px solid black;
    background-color: white;
}
#Inp1 {
    margin-left: 100px;
}
#list {
    margin-top: 20px;
    text-align: center;
}
